# Lab 3
---
  - name: install nginx on centos
    hosts: centos

    tasks:
    - name: add user www-data
      user: name=www-data state=present

    - name: install nginx
      yum: pkg=nginx state=present

    - name: ensure nginx enabled on boot
      service: name=nginx enabled=yes

    - name: ensure nginx running
      service: name=nginx state=started
